span {
  font-family: "Nexa-Bold";
  font-size: 26px;
  color: #FFFFFF;
}

a {
  font-family: "OpenSans-Regular";
  color: #ffffff;
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  font-family:"Raleway-Bold";
  font-size: 40px;
  color: #FFFFFF;
}
h2 {

}
h3 {
  font-family:"Raleway-SemiBold";
  font-size: 24px;
  text-transform: uppercase;
  color: #24282f;
}

p {
  font-family:"OpenSans-Light";
  font-size: 14px;
  color: #000000;
}
.about-name {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 16px;
  color: #232323;
  font-family:"Raleway-Medium";
}
.about-profession {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  color: #b5a263;
}
.footer-title {
  font-family:"OpenSans-Bold";
  color: #b5a263;
  margin-bottom: 30px;
  text-transform: uppercase;
}.footer-text {
   line-height: 20px;
   font-family:"OpenSans-Light";
  color: #6e7279;
}