a {
  font-size: 14px;
  font-family: "OpenSans-Light";
  color: #f4f5f9;
}
p {
  font-size: 14px;
  font-family: "OpenSans-Light";
}
h2 {
  font-family: "SourceSansPro-Regular";
  font-size: 24px;
}
h1 {
  font-family: "OpenSans-Bold";
  font-size: 72px;
}














.one {
  display: flex;
  align-items: center;
  color: #4a4c55;
  padding:0 15px 0 15px;
}
.two {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: #3a3b40;
  padding:0 15px 0 15px;
  border: solid 3px #FFFFFF;
}