@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy - Extra Bold";
  src: url("../fonts/Gilroy-ExtraBold.ttf");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url("../fonts/SourceSansPro-SemiBold.ttf");
}
@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf");
}
a {
  font-size: 14px;
  font-family: "OpenSans-Light";
  color: #f4f5f9;
}

p {
  font-size: 14px;
  font-family: "OpenSans-Light";
}

h2 {
  font-family: "SourceSansPro-Regular";
  font-size: 24px;
}

h1 {
  font-family: "OpenSans-Bold";
  font-size: 72px;
}

.one {
  display: flex;
  align-items: center;
  color: #4a4c55;
  padding: 0 15px 0 15px;
}

.two {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: #3a3b40;
  padding: 0 15px 0 15px;
  border: solid 3px #FFFFFF;
}

.header {
  width: 100%;
  min-height: 932px;
  max-height: 100%;
}
.header-opacity {
  width: 100%;
  min-height: 932px;
  max-height: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.7);
}
.header-opacity_menu {
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-opacity_menu__mob {
  display: none;
}
.header-opacity_menu__mob___m {
  height: 51px;
  display: flex;
  background: #FFFFFF;
}
.header-opacity_menu__mob___m a {
  display: flex;
}
.header-opacity_menu__mob___m p {
  font-family: "OpenSans-Light";
  font-size: 36px;
}
.header-opacity_menu__logo {
  height: 51px;
  display: flex;
  background: #FFFFFF;
}
.header-opacity_menu__logo a {
  display: flex;
}
.header-opacity_menu__logo p {
  font-family: "OpenSans-Light";
  font-size: 36px;
}
.header-opacity_menu__text a {
  padding-bottom: 20px;
  text-transform: uppercase;
  margin-left: 62px;
}
.header-opacity_menu__text___active {
  border-bottom: 3px solid #e74c3c;
  color: #e74c3c;
}
.header-opacity__block {
  margin-top: 200px;
  text-align: center;
  color: #f4f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-opacity__block h2, .header-opacity__block h1 {
  margin-bottom: 50px;
}
.header-opacity__block___line {
  display: inline-block;
  width: 200px;
  border-bottom: solid 3px #FFFFFF;
  position: relative;
  margin-bottom: 50px;
}
.header-opacity__block___line i {
  top: -6px;
  position: absolute;
  color: #e74c3c;
}
.header-opacity__block____text {
  text-align: center;
  max-width: 600px;
  min-width: 300px;
  margin-bottom: 70px;
  line-height: 21px;
}
.header-opacity__butt {
  display: flex;
  justify-content: center;
}
.header-opacity__butt a :hover {
  background: #FFFFFF;
  color: black;
}
.header-opacity__butt___start, .header-opacity__butt___more {
  margin-left: 30px;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 220px;
  height: 55px;
  margin-top: 10px;
  background: #e74c3c;
  font-family: "OpenSans-Bold";
}

@media (max-width: 500px) {
  .header-opacity__butt {
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  .header-opacity_menu__mob {
    display: block;
  }

  .header-opacity_menu__text {
    position: absolute;
    left: -500px;
    transition: 3s;
  }
}
@media (max-width: 1200px) {
  .header-opacity_menu__text {
    width: 50%;
    height: 100%;
  }
  .header-opacity_menu__text li {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-opacity_menu__text li a {
    padding: 20px;
  }
  .header-opacity_menu__text ul {
    width: 100%;
    text-align: center;
  }
}
#menu:checked ~ .header-opacity_menu__text {
  position: fixed;
  left: 0;
  top: -3px;
  display: flex;
  background: #FFFFFF;
  width: 50%;
  height: 100%;
}
#menu:checked ~ .header-opacity_menu__text a {
  color: black;
  margin-left: 0;
}
#menu:checked ~ .header-opacity_menu__text ul {
  width: 100%;
  text-align: center;
}
#menu:checked ~ .header-opacity_menu__text li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#menu:checked ~ .header-opacity_menu__text li a {
  padding: 20px;
}
#menu:checked ~ .header-opacity_menu__text .close {
  display: block;
}

.close {
  display: none;
  top: 0;
  position: absolute;
  font-size: 50px;
  right: -40px;
  color: silver;
}

input {
  display: none;
}

.info-box {
  display: grid;
  grid-template-columns: minmax(350px, 480px) minmax(350px, 480px) minmax(350px, 480px) minmax(350px, 480px);
  grid-template-rows: minmax(350px, 480px) minmax(350px, 480px);
  grid-template-areas: "box1 box2 box3 box4" "box5 box6 box7 box8";
}
.info-box__box1 {
  background-size: cover;
  background-image: url("../img/1.png");
}
.info-box__box2 {
  grid-area: box2;
  background: #e74e3e;
}
.info-box__box2___block {
  color: #ffffff;
  line-height: 30px;
}
.info-box__box2___block____center {
  margin-left: 50px;
  max-width: 380px;
}
.info-box__box2___block____center h3 {
  margin-bottom: 31px;
  margin-top: 40px;
  font-size: 14px;
  font-family: "OpenSans";
}
.info-box__box2___block____center h2 {
  font-family: "SourceSansPro-SemiBold";
  font-size: 16px;
}
.info-box__box2___block____center p {
  font-family: "OpenSans";
  font-size: 16px;
  margin-bottom: 60px;
}
.info-box__box2___block____center_____line {
  margin-top: 20px;
  margin-bottom: 30px;
  height: 4px;
  width: 35px;
  background: #FFFFFF;
}
.info-box__box2___block a {
  margin-left: 26px;
  font-family: "OpenSans-SemiBoldItalic";
  font-size: 18px;
  margin-right: 20px;
}
.info-box__box3 {
  background-size: cover;
  grid-area: box3;
  background-image: url("../img/2.png");
}
.info-box__box4 {
  grid-area: box4;
  background: #e74e3e;
}
.info-box__box5 {
  grid-area: box5;
  background: #e74e3e;
}
.info-box__box6 {
  background-size: cover;
  background-image: url("../img/3.png");
  grid-area: box6;
  background: #e74e3e;
}
.info-box__box7 {
  grid-area: box7;
  background: #e74e3e;
}
.info-box__box8 {
  background-size: cover;
  background-image: url("../img/4.png");
  grid-area: box8;
  background: #e74e3e;
}

@media (max-width: 1400px) {
  .info-box {
    display: grid;
    grid-template-columns: minmax(350px, 780px) minmax(350px, 780px);
    grid-template-rows: minmax(350px, 480px) minmax(350px, 480px) minmax(350px, 480px) minmax(350px, 480px);
    grid-template-areas: "box1 box2" "box4 box3" "box6 box5" "box7 box8";
  }
}
@media (max-width: 700px) {
  .info-box {
    display: grid;
    grid-template-columns: minmax(350px, 780px);
    grid-template-rows: minmax(350px, 480px) minmax(350px, 480px) minmax(350px, 480px) minmax(350px, 480px) minmax(350px, 480px) minmax(350px, 480px) minmax(350px, 480px) minmax(350px, 480px);
    grid-template-areas: "box1" "box2" "box3" "box4" "box5" "box6" "box7" "box8";
  }
}
.free {
  background-image: url("../img/footer.png");
}
.free-opacity {
  text-align: center;
  background-size: contain;
  background: no-repeat;
  width: 100%;
  height: 480px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
}
.free-opacity_text {
  padding-top: 150px;
}
.free-opacity_text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.free-opacity_text h3 {
  line-height: 25px;
  font-family: "SourceSansPro-Regular";
  font-size: 18px;
}
.free-opacity_text__butt {
  display: flex;
  justify-content: center;
}
.free-opacity_text__butt a :hover {
  background: #FFFFFF;
  color: black;
}
.free-opacity_text__butt___b {
  transition: 0.2s;
  align-items: center;
  width: 220px;
  height: 55px;
  margin-top: 70px;
  background: #e74c3c;
  display: flex;
  justify-content: center;
  font-family: "OpenSans-Bold";
}
.free-opacity_text__butt___b p {
  font-size: 14px;
  text-transform: uppercase;
}

.footer {
  background: #202020;
  width: 100%;
}
.footer-block {
  flex-wrap: wrap;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-block_social {
  display: flex;
}
.footer-block_social i {
  margin-right: 27px;
  font-size: 24px;
  color: #999999;
}
.footer-block_social i:hover {
  color: #e74c3c;
}
.footer-block_text a {
  color: #828282;
  font-size: 14px;
  font-family: "OpenSans-Bold";
}
.footer-block_text a:hover {
  color: #FFFFFF;
}

@media (max-width: 650px) {
  .footer-block {
    display: flex;
    justify-content: center;
  }

  .footer-block_social i {
    margin-right: 14px;
  }

  .header-opacity__butt {
    margin-bottom: 90px;
  }

  h1 {
    font-size: 50px;
  }
}
.slick-prev:before {
  font-size: 70px;
  width: 45px;
  height: 45px;
  background-image: url(../img/left.png);
  left: 1px;
  top: 85px;
  position: absolute;
}

.slick-next:before {
  font-size: 70px;
  width: 45px;
  height: 45px;
  background-image: url(../img/right.png);
  right: 10px;
  top: 85px;
  position: absolute;
}

.top {
  height: 60px;
  width: 60px;
  background-image: url("../img/top.png");
  position: fixed;
  right: 100px;
  bottom: 50px;
}

/*# sourceMappingURL=main.css.map */
