h1 {
  font-size: 30px;
  color: #2b2b2b;
  font-family: "Comfortaa-Bold";
}
.name_goods {
font-family: "OpenSans-Regular";
  font-size: 15px;
  color: #282828;
  margin-bottom: 15px;
  text-align: center;
}
.price {
  text-align: center;
  font-size: 15px;
  font-family: "OpenSans-Bold";
  color: #282828;
}
.goods {
  color: #282828;
  margin-top: 40px;
  margin-left: 10px;
  font-family: "OpenSans-Regular";
  margin-bottom: 20px;
  font-size: 16px;
  color: #282828;
  text-transform: uppercase;
  padding-left: 20px;
}

