@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy - Extra Bold";
  src: url("../fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico.ttf");
}

.header {
  left: -412;
  position: relative;
  background-image: url("../img/bg.png");
  width: 100%;
  min-height: 740px;
  color: white;
  margin-top: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.header-menu {
  padding-top: 17px;
}

.header-menu_block {
  min-height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-menu_block__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-menu_block__logo h2 {
  padding: 10px;
}

.header-menu_block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 99999999;
}

.header-menu_block__menu___info {
  margin-bottom: 15px;
  font-size: 14px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu_block__menu___info____map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 35px;
}

.header-menu_block__menu___info____map i {
  font-size: 20px;
  margin-right: 15px;
}

.header-menu_block__menu___info____mob {
  margin-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu_block__menu___info____mob i {
  font-size: 20px;
  margin-right: 5px;
}

.header-menu_block__menu___info____social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu_block__menu___info____social i:nth-child(1) {
  margin-right: 25px;
}

.header-menu_block__menu___info____social i {
  font-size: 25px;
}

.header-menu_block__menu___menu {
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fbd341;
  border-radius: 10px;
  width: 750px;
}

.header-menu_block__menu___menu ul {
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 22px 0 22px;
}

.header-menu_block__menu___menu ul li {
  cursor: pointer;
  padding: 15px;
  position: relative;
  list-style: none;
  text-decoration: none;
}

.header-menu_block__menu___menu ul li a {
  font-weight: 600;
  color: black;
  /* Цвет ссылок */
}

.header-menu_block__menu___menu ul li ul {
  display: none;
  z-index: 99999;
  top: 45px;
  left: -22px;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
  background: rgba(0, 0, 158, 0.2);
}

.header-menu_block__menu___menu ul li ul li {
  cursor: pointer;
  padding: 20px 0 20px 0;
}

.header-menu_block__menu___menu ul li ul li a {
  font-size: 14px;
  margin-left: 28px;
  color: white;
}

.header-block {
  width: 1350px;
  position: absolute;
  height: 225px;
  display: block;
  max-width: 100%;
  z-index: 1;
  bottom: 180px;
}

.header-block_info {
  margin-right: 100px;
  margin-top: 60px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 960px;
  min-width: 320px;
  position: relative;
  float: right;
}

.header-block_info .btn {
  margin-top: 50px;
  float: left;
  padding: 15px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 10px;
  outline: 0;
  background: #fbd341;
  text-align: center;
  width: 250px;
  height: 50px;
  font-size: 18px;
  color: black;
}

.header-block_info h2 {
  color: white;
  font-size: 30px;
}

.header-menu_block__menu___menu ul li:hover > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu_block__menu___menu ul li ul li:hover {
  background: deepskyblue;
}

.header-menu_block__menu___menu ul li:hover {
  background: deepskyblue;
}

.header-menu_block__menu___menu ul li:hover a {
  color: white;
}

.background {
  width: 100%;
  min-height: 225px;
  background: rgba(0, 0, 158, 0.2);
}

body {
  position: relative;
}

.dws-menu [type="checkbox"] {
  display: none;
}

.toggleMenu {
  margin-top: 5px;
}

.dws-menu label.toggleMenu {
  background: #C9C9C9;
  display: block;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  display: none;
}

input.toggleMenu:checked ~ ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toggleMenu {
  display: none;
}

.tours-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tours-block p {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.tours-block_hot {
  margin-left: 15px;
  margin-right: 30px;
}

.tours-block_popular {
  cursor: pointer;
}

.tours-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tours-slider .prev {
  background-image: url("../img/left.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 19px;
  background-size: cover;
  position: absolute;
  right: 0;
  left: 1%;
  top: 50%;
  z-index: 100;
  cursor: pointer;
}

.tours-slider .next {
  background-image: url("../img/right.png");
  width: 10px;
  height: 19px;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 100;
  cursor: pointer;
}

.tours-slider_block {
  width: 100%;
  max-width: 1800px;
  min-width: 320px;
}

.tours-slider_block__box {
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 515px;
  background: #f8f7f7;
}

.tours-slider_block__box___img {
  margin: 15px;
  border-radius: 15px;
  width: 185px;
  height: 180px;
}

.tours-slider_block__box___img img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.tours-slider_block__box___info {
  position: relative;
  margin: 25px;
  max-width: 270px;
}

.tours-slider_block__box___info .main {
  font-weight: 600;
  font-size: 17px;
  color: #000;
}

.tours-slider_block__box___info .data {
  margin: 10px 0 10px 0;
  color: #4d4d4d;
  font-weight: 300;
  font-size: 14px;
}

.tours-slider_block__box___info .liner {
  background: silver;
  width: 100%;
  height: 1px;
  margin-bottom: 18px;
}

.tours-slider_block__box___info .info {
  font-size: 14px;
  margin-bottom: 24px;
}

.tours-slider_block__box___info .price {
  font-size: 20px;
  color: #000;
}

.tours-slider_block__box___info .price sup {
  margin-left: 10px;
  font-size: 11px;
}

.tours-slider_block__box___info____btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #fbd341;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.tours-slider_block__box___info____btn a i {
  font-size: 10px;
  color: black;
}

.toursActiver {
  cursor: pointer;
}

.toursActiver p {
  color: #fbd341 !important;
}

.advantages {
  margin-top: 70px;
  min-height: 512px;
  background: #f8f7f7;
}

.advantages h3 {
  color: black;
  margin: 50px 0 50px 0;
}

.advantages-block {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantages-block_img {
  max-width: 460px;
  height: 320px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.advantages-block_img img {
  height: 100%;
  width: 100%;
}

.advantages-block_text {
  width: 550px;
}

.advantages-block_text p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.offer {
  min-height: 280px;
  background-image: url("../img/bg1.png");
  background-position: bottom;
}

.offer h4 {
  margin-top: 45px;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 25px;
}

.offer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  min-height: 130px;
  padding-top: 30px;
}

.offer-block_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 255px;
  height: 55px;
  border-radius: 10px;
  background: #fbd341;
  color: black;
}

.offer-block input {
  padding: 10px;
  color: white;
  border: none;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  outline: 0;
  background: 0 0;
}

.offer-block .name {
  width: 135px;
  height: 35px;
}

.offer-block .mob {
  width: 135px;
  height: 35px;
}

.input {
  height: 35px;
}

.place {
  background: white;
}

.name,
.email .mob {
  border-bottom: 1px red;
}

.select-wrapper {
  color: white;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  outline: 0;
  background: 0 0;
  width: 100px;
  position: relative;
  height: 38px;
  background: transparent;
  border-radius: 0;
}

option {
  color: black;
}

option:hover {
  color: yellow;
}

select {
  width: 50px;
  height: 50px;
}

.select-wrapper > select {
  width: 100px;
  height: 37px;
  background: transparent;
  border: 0;
  appearance: none;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-wrapper > select::-ms-expand {
  display: none;
}

.select-arrow {
  position: absolute;
  z-index: -1;
  border: 8px solid transparent;
  border-bottom: 0;
  right: 11px;
}

.select-arrow:nth-child(2) {
  top: 15px;
  border-top-color: #bdbdbd;
}

.select-arrow:nth-child(3) {
  top: 13px;
  border-top-color: #FFF;
}

.hide {
  display: none;
}

.footer {
  background: #22334d;
  min-height: 310px;
}

.footer-block {
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-block_info {
  width: 315px;
}

.footer-block_info p {
  font-size: 14px;
  color: white;
}

.footer-block_navigation {
  margin-left: 120px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
}

.footer-block_navigation h5 {
  font-size: 19px;
  margin-bottom: 45px;
}

.footer-block_navigation a {
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
}

.footer-block_support {
  margin-left: 120px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
}

.footer-block_support h5 {
  font-size: 19px;
  margin-bottom: 45px;
}

.footer-block_support a {
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
}

.footer-block_contact {
  margin-left: 100px;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
}

.footer-block_contact h5 {
  margin-bottom: 45px;
}

.footer-block_contact__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.footer-block_contact__map i {
  margin-right: 5px;
}

.footer-block_contact__mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-block_contact__mob i {
  margin-right: 5px;
}

.footer-line {
  margin: 25px 0 25px 0;
  width: 100%;
  height: 1px;
  background: #cccccc;
}

.six {
  height: 1500px;
  background: hotpink;
}

.header-fixed {
  z-index: 3;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: deepskyblue;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-animation: scroll 0.5s;
  animation: scroll 0.5s;
  background: rgba(0, 0, 0, 0.7);
}

.activer {
  color: orangered !important;
}

i {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .advantages-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .advantages-block_text {
    margin-top: 30px;
  }

  .offer-block_btn {
    margin-top: 20px;
  }
}

@media (max-width: 997px) {
  .footer-block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-block_info {
    min-width: 300px;
    margin: 0px 100% 0 100%;
  }

  .footer-block_navigation {
    min-width: 300px;
    margin: 0px 100% 0 100%;
  }

  .footer-block_support {
    min-width: 300px;
    margin: 0px 100% 0 100%;
  }

  .footer-block_contact {
    min-width: 300px;
    margin: 0px 100% 0 100%;
  }
}

@media (max-width: 992px) {
  .toggleMenu {
    display: block;
  }

  .header-menu_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-menu_block__menu {
    padding: 0 20px;
  }

  .header-menu_block__menu___info {
    display: none;
  }

  .header-menu_block__menu___menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 320px;
    color: black;
  }

  .header-menu_block__menu___menu .fa-bars {
    margin-right: 10px;
  }

  .header-menu_block__menu___menu ul {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
  }
}

@media (max-width: 690px) {
  .offer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .offer-block_name {
    margin-top: 15px;
  }

  .offer-block_email {
    margin-top: 15px;
  }

  .offer-block_mob {
    margin-top: 15px;
  }

  .offer-block_select {
    margin-top: 15px;
  }

  .offer-block_btn {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .tours-slider_block__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-block_info {
    margin-right: 0px;
  }
}

@media (max-width: 500px) {
  .header-menu_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-menu_block__menu___menu {
    margin-top: 10px;
  }
}