@import "base/_reset";
@import "base/_fonts";
//@import "components/_jquery.formstyler";
//@import "components/_fancybox";
//@import "components/_slick";
//@import "components/_mCustomScrollbar";
@import "layout/_header";
@import "layout/_footer";
@import "layout/_media";
@import "layout/_fonts";
@import "layout/_red";

body {
  background-image: url("../img/pattern.png");
}

.main {
  margin-top: 50px;
  &-container {
    margin-bottom: 90px;
    margin-top: 40px;
    display: flex;
    width: 100%;
    position: relative;
    &_filters {
      width: 270px;
      flex-shrink: 0;

      &-inner {
        position: relative;
        width: 270px;
        z-index: 10;

        .select {
          background-color: #fff;
          z-index: 10;
          width: 100%;
          max-height: 42px;
          overflow: hidden;
          transition: 0.5s;
          font-family: "Arial", sans-serif;
          font-weight: bold;
          font-size: 14px;
          border-left: 1px solid #e6e6e6;
          border-right: 1px solid #e6e6e6;
          &:first-child {
            border-top: 1px solid #e6e6e6;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

          }

          a {
            color: #37418b;
            display: flex;
            align-items: center;
            height: 50px;
            padding: 0 20px;
            font-size: 20px;
            cursor: pointer;
          }
          .block {
            border-bottom: 1px solid #e6e6e6;
            width: 100%;
            height: 41px;
            display: flex;
            align-items: center;
            position: relative;
            justify-content: space-between;
            padding: 0 8px 0 20px;
            //border-radius:  5px 5px 0 0;
            cursor: pointer;
            transition: 0.5s;
            span {
              &:last-child {
                width: 160px;
                height: 30px;
                border-top: 3px solid #e6e6e6;
                border-left: 2px solid #e6e6e6;
                border-right: 2px solid #e6e6e6;
                border-bottom: 1px solid #e6e6e6;
                opacity: 0;
                padding: 5px 10px;
                font-weight: normal;
                &.show {
                  opacity: 1;

                }
              }
            }
            &:after {
              position: absolute;
              content: "";
              background-image: url(../img/aroow.png);
              width: 10px;
              height: 6px;
              background-position: center;
              right: 17px;
              top: 50%;
              transform: translateY(-50%);
              transition: 0.3s;
            }
            &.rotate:after {
              transform: rotate(180deg);
              top: 45%;
            }
          }
          .scroll {
            height: 259px;
            overflow: auto;
            padding: 10px 0;
            position: relative;

            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;

            li {
              display: flex;
              padding: 0 30px;
              align-items: center;
              width: 100%;
              height: 40px;
              font-weight: normal;
              transition: 0.3s;
              font-size: 13px;
              cursor: pointer;
              &:hover {
                color: #6ebacc;
              }

            }



            &::-webkit-scrollbar {
              width: 5px;
            }

            &::-webkit-scrollbar-thumb {
              background: #48b3cd;
            }

            &::-webkit-scrollbar-track {
              background: #fff;
            }



          }
          &.look {
            max-height: 300px;
          }
        }

        &_but {
          position: absolute;
          top: 0;
          right: -40px;
          display: none;
          width: 40px;
          height: 40px;
          img {
            height: 100%;
            width: 100%;
          }
          i {
            font-size: 40px;
            color: #48b3cb;
          }
        }
        &.topFix {
          position: fixed;
          top: 0;
        }
        &_button-filter {
          background-color: #fff;
          height: 40px;
          width: 100%;
          font-weight: bold;
          transition: 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #e6e6e6;
          border-top: none;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          cursor: pointer;
          p {
            font-size: 13px;
          }
          &:hover {
            color: #6ebacc;
          }
        }
      }
    }
    &_goods {
      max-width: 900px;
      &_basic {
        flex-wrap: wrap;
        display: flex;

        &__block {
          cursor: pointer;
          border-radius: 5px;
          background: #ffffff;
          //margin: 15px;
          //margin-top: 40px;
          margin-left: 30px;
          width: 270px;
          height: 380px;
          margin-bottom: 30px;
          padding: 1px;
          border: 1px solid #e6e6e6;
          transition: 0.3s;
          &:hover {
            transition: 0.4s;
            box-shadow: 0 0 10px #23a2be;
            border: 1px solid #23a2be;
            .name_goods {
              color: #23a2be;
            }
          }

          &___box {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 235px;
            background: #fafafa;
            &____newProduct {
              padding: 0 10px;
              font-family: "OpenSans-SemiBold";
              border-radius: 3px;
              position: absolute;
              left: 14px;
              top: 14px;
              height: 27px;
              background: #48b3cb;
              font-size: 11px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #FFFFFF;
            }
            &____hitOfSell {
              padding: 0 10px;
              font-family: "OpenSans-SemiBold";
              border-radius: 3px;
              position: absolute;
              left: 14px;
              top: 14px;
              height: 27px;
              background: #ffae2e;
              font-size: 11px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #FFFFFF;
              text-transform: uppercase;
            }
            &____img {

              img {

              }
            }
          }
          &___stars {
            margin: 20px 0;
            text-align: center;
            display: flex;
            justify-content: center;

          }
          &___name {
          }
          &___price {
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 40px;
            &____line {
              margin-bottom: 20px;
              width: 80px;
              height: 2px;
              background: #dbdbdb;
            }
          }
          &:last-child {

          }
        }
        &.left-space {
          margin-left: 270px;
        }
      }

      &_slider {
        width: 100%;
        position: relative;
        right: -15px;

        &__slid {
          width: 100%;

          .main-container_goods_basic__block {

            margin: 10px 15px 10px 15px;
          }
        }
      }
    }
  }
}
////////////////////////Media/////////////////////////////////////////////////////////////////////
@media (max-width: 1200px) {
  .main-container {

    justify-content: center;
    width: 100%;
  }
  .main-container_goods {
    max-width: 600px;
  }
  .main {
    h1 {
      text-align: center;
    }
  }
  body .next , .prev , .prev .slick-arrow {
    opacity: 0;
  }

}

@media (max-width: 993px) {

  .main-container_goods {
    max-width: 600px;
    margin: auto;
  }
  .main-container_goods_basic__block {
    margin: 15px;
  }
  .main-container_goods_slider {
    position: relative;
    right: 0;
  }
  .main-container_filters {
    position: absolute;
    left: -270px;
    transition: 0.3s;
    &-inner_but {
      display: block;
      transition: 0.3s;
      &.toTop {
        top: -40px;
        right: 0;
      }

    }
    &.scroll-left {
      left: 0;
    }
  }
  .main-container_goods_basic {

    justify-content: center;
  }
  .goods {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .main-container {
    display: block;
    margin: auto;
  }

}

@media (max-width: 600px) {
  .main-container_goods {
    max-width: 100%;
  }
  .main-container_goods_slider__slid .main-container_goods_basic__block {
    margin: 10px auto;
  }
}

////////////////////////Slick slider ,arows,dots/////////////////////////////////////////////////////////////////////
.next {
  background-image: url(../img/next.png);
  width: 45px;
  height: 45px;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  right: 0;
  left: 60%;
  top: 105%;
  z-index: 100;
  cursor: pointer;
}

.prev {
  background-image: url(../img/prev.png);
  width: 45px;
  height: 45px;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  right: 0;
  left: 35%;
  top: 105%;
  z-index: 100;
  cursor: pointer;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: red;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 33px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #888787;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
  bottom: -50px;
}

.stars {

  height: 25px;
  cursor: pointer;

  &:hover {
    .star polygon {
      fill: #ffd055 !important;
    }
  }

  .star {
    float: left;

    polygon {
      fill: #d8d8d8;
    }

    &:hover ~ .star {
      polygon {
        fill: #d8d8d8 !important;
      }
    }
  }

  &[data-stars] {
    .star polygon {
      fill: #ffd055;
    }
  }

  &[data-stars="1"] {
    .star:nth-child(1) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="2"] {
    .star:nth-child(2) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="3"] {
    .star:nth-child(3) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="4"] {
    .star:nth-child(4) ~ .star polygon {
      fill: #d8d8d8;
    }
  }

  &[data-stars="5"] {
    .star:nth-child(5) ~ .star polygon {
      fill: #d8d8d8;
    }
  }
}
